/*.redb
/.idea/
/.vagrant
/.vscode
/docs/build
/env
/fuzz/artifacts
/fuzz/corpus
/fuzz/coverage
/fuzz/target
/ord.log
/target
/test-times.txt
/tmp

/indexer/inscriptions.txt
/indexer/index.redb
/indexer/log_file.txt
/indexer/log_file_index.txt
/indexer/.env.local
/indexer/node_modules
/indexer/dist
/indexer/mainnet